@model MarketPlace.ViewModels.ForgotPasswordViewModel

<form asp-action="ForgotPassword" class="form-signin">
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert-danger">
            <span>@TempData["Error"]</span>
        </div>
    }

    <h1 class="h3 mb-3 font-weight-normal Center">Reset password</h1>
    <div class="Center mb-3">
        <input style="width:50%" asp-for="Email" type="email" class="form-control" placeholder="Email" autofocus>
    </div>
    <span asp-validation-for="Email" class="text-danger Center"></span>
    
    <div class="BtnCenter">
        <button asp-controller="Account" asp-action="ForgotPassword" class="btn btn-lg btn-primary btn-block" type="submit">Send an email</button>
        <button asp-controller="Home" asp-action="Index" class="btn btn-lg btn-secondary btn-block mt-1" type="submit">Back to home page</button>
    </div>
</form>

