@model MarketPlace.ViewModels.ResetViewModel

<form asp-action="ResetPassword" class="form-signin">
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert-danger">
            <span>@TempData["Error"]</span>
        </div>
    }
    <input type="hidden" name="Email" asp-for="Email" class="form-control" />
    <input type="hidden" name="Token" asp-for="Token" class="form-control" />
    <h1 class="h3 mb-3 font-weight-normal Center">Reset password</h1>
    <div class="Center">
        <input style="width:50%" asp-for="Password" id="IdPassword" type="password" class="form-control" placeholder="Password">
    </div>
    <span asp-validation-for="Password" class="text-danger Center"></span>

    <div class="mt-2 Center mb-3">
        <input style="width:50%" asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password">
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger Center"></span>

    <div class="checkbox mb-3 Center" style="margin-right:480px">
        <label>
            <input type="checkbox" onclick="myFunction()" /> Show password
        </label>
    </div>

    <div class="BtnCenter">
        <button asp-controller="Account" asp-action="ResetPassword" class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
        <button asp-controller="Home" asp-action="Index" class="btn btn-lg btn-secondary btn-block mt-1" type="submit">Back to home page</button>
    </div>
</form>
<script>
    function myFunction() {
        var x = document.getElementById("IdPassword");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>